/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.d-flex-end {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/*content*/

.bg-light-dark {
    background-color: #333;
}

.bg-sec-light {
    background-color: #bebcbb;
}

.bg-blue {
    background-color: #161c3b;
}

.bg-mid-blue {
    background-color: #00439c;
}

p {
    margin-bottom: 0;
}

.w-10 {
    width: 10%;
}

/*header*/

.hline-header {
    height: 30px;
}

#sticky-top .dropdown-menu.show {
    display: flex;
}

.arrow:hover {}

.btn:hover {
    background-color: #33333387;
}

.text-bg-light-dark {
    background-color: #333;
}

/*/header*/

/*main*/
/*jumbo*/
#jumbo {
    height: 600px;
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-position: top;
}

/*/jumbo*/

/*games*/
#games img {
    width: 100%;
    border-radius: 20px;
}

#games img:hover {
    border: 3px solid #2d64e6;
}

/*/games*/

/*playstation*/

.brd-hvr {
    opacity: 0.5;
}

.brd-hvr:hover {
    opacity: 1;
    border-bottom: 2px solid #2d64e6;
}

/*/playstation*/

/*ittakestwo*/
#bg-ittakestwo-img {
    height: 600px;
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: top;
}

/*/ittakestwo*/

/*new-games*/
.fs-0-5 {
    font-size: 0.5rem;
}

/*/new-games*/
/*/main*/

/*footer*/

ul {
    list-style: none;
}

ul a {
    color: #ffff;
    text-decoration: none;
}

/*/footer*/